<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<appender name="newShort" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/newShort.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />   <!-- -a  -->
	 	<param name="ImmediateFlush" value="TRUE" /> 	
		<param name="BufferedIO" value="FALSE" />
		<param name="BufferSize" value="819200" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" %d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">    
  			<param name="LevelMin" value="DEBUG" /> 
  			<param name="LevelMax" value="ERROR" />    
		</filter> 
	</appender>
	
	
 	<category name="com.shorturl" additivity="false">  
 		<priority value="ERROR"/>    
 		<!-- <appender-ref ref="CONSOLE"/>  -->
 		<appender-ref ref="newShort"/> 
 	</category>
 		
	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>
	
</log4j:configuration>